.listsCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        background-color: rgb(221, 190, 198);
        padding: 3%;
        }

        .listsCard h1 {
            text-align: center;
            margin: 0;
            margin-bottom: 20px;
        }

        @media (max-width: 600px) {
            .listsCard {
                width: 90vw;
            }
        }